[manifest]
version = "1.0.0"
dump_lua = true
priority = 21

### Applin item_evo functionality

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "boosters/packs1.lua"]'
pattern = '''
if v.config.center.item_req then
'''
position = "after"
payload = '''
local prefix = v.config.center.custom_item_evo and G.P_CENTERS[v.config.center.key].mod.prefix or 'poke'
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "boosters/packs1.lua"]'
pattern = '''
item_key = "c_poke_"..pseudorandom_element(v.config.center.item_req, pseudoseed('match'))
'''
position = "at"
payload = '''
item_key = "c_"..prefix.."_"..pseudorandom_element(v.config.center.item_req, pseudoseed('match'))
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "boosters/packs1.lua"]'
pattern = '''
item_key = "c_poke_"..v.config.center.item_req
'''
position = "at"
payload = '''
item_key = "c_"..prefix.."_"..v.config.center.item_req
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "boosters/packs1.lua"]'
pattern = '''
for k, v in pairs(self.config.c_keys) do
  if v == item_key then
    already_created = true
  end
end
'''
position = "after"
payload = '''
local item_family
for _, family in pairs(PkmnDip.item_families) do if PkmnDip.utils.contains(family, item_key) then item_family = family end end
if item_family then
  for _, item in pairs(item_family) do  
    for k, v in pairs(self.config.c_keys) do
      if v == item then already_created = true end
    end
    if next(SMODS.find_card(item)) then already_created = true end
  end
end
'''
match_indent = true