[manifest]
version = "1.0.0"
dump_lua = true
priority = 21

# Passimian Evo Logic
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
if immediate then
    poke_backend_evolve(card, to_key, energize_amount)
  else
'''
position = "before"
payload = '''
if card.config.center.key == 'j_nacho_passimian' then
  if not transformation then 
    card.ability.extra.evolving = true
    immediate = true
  end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''local custom_values_to_keep = {}'''
position = "before"
payload = '''
-- Passimian passed abilities don't "Evolve" per se
if card.config.center.key == 'j_nacho_passimian' and card.ability.extra.evolving then
  card.ability.extra.evolving = nil
  card.config.center:receive_card(card, to_key)
  return
end

'''
match_indent = true

# Ensure Smeargle finds Passimian's *Copied* Card so it doesn't crash
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "pokemon/pokejokers_08.lua"]'
pattern = '''
local other_center = card.ability.extra.copy_joker.config.center
local new_config = copy_table(card.ability.extra.copy_joker.ability)
'''
position = "at"
payload = '''
local other_center
local new_config
if card.ability.extra.copy_joker.config.center.key == 'j_nacho_passimian' then
  other_center = card.ability.extra.copy_joker.ability.received_card
  new_config = copy_table(card.ability.extra.copy_joker.ability.received_card.config)
else
  other_center = card.ability.extra.copy_joker.config.center
  new_config = copy_table(card.ability.extra.copy_joker.ability)
end
'''
match_indent = true

# Add a blueprint check to Smeargle's calculate function so Passimian can find it
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "pokemon/pokejokers_08.lua"]'
pattern = '''
if G.jokers.cards[found_pos] and card.ability.blueprint_compat == 'compatible' then
'''
position = "before"
payload = '''
local r_joker = G.jokers.cards[found_pos]
card.ability.blueprint_compat = ( r_joker and r_joker ~= card and not r_joker.debuff
    and r_joker.config.center.blueprint_compat and 'compatible')
    or 'incompatible'
'''
match_indent = true

# Passimian Copy Card fix
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
for k, v in pairs(other.ability) do
    if type(v) == 'table' then 
        new_card.ability[k] = copy_table(v)
    else
        new_card.ability[k] = v
    end
end
'''
position = "at"
payload = '''
if other.config.center.name == "passimian" then
  if other.ability.received_card then
    new_card:set_ability(other.config.center)
    new_card.config.center:receive_card(new_card, other.ability.received_card.key)
  end
else
  for k, v in pairs(other.ability) do
      if type(v) == 'table' then 
          new_card.ability[k] = copy_table(v)
      else
          new_card.ability[k] = v
      end
  end
end
'''
match_indent = true