[manifest]
version = "1.0.0"
dump_lua = true
priority = 21

# # # Terapagos Tera Logic Suite

# Ensuring that Terapagos-Stellar makes Pokemon always Tera Stellar
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
if sticker_type then
    apply_type = sticker_type
'''
position = "before"
payload = '''
if next(SMODS.find_card('j_nacho_terapagos_stellar')) then
    sticker_type = "Stellar"
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "localization/en-us.lua"]'
pattern = '''
poke_bird_badge = "Bird",
'''
position = "after"
payload = '''
poke_stellar_badge = "Stellar",
'''
match_indent = true

# # Creating the Stellar Type Badge

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
badges[#badges+1] = create_badge(ptype, G.ARGS.LOC_COLOURS[lower_ptype], text_colour, 1.2 )
'''
position = "at"
payload = '''
if ptype == "Stellar "..localize("poke_tera") then
    local stellar_gradient = SMODS.Gradients.nacho_sgbadge
    badges[#badges+1] = create_badge(ptype, stellar_gradient, text_colour, 1.2);
else
    badges[#badges+1] = create_badge(ptype, G.ARGS.LOC_COLOURS[lower_ptype], text_colour, 1.2 )
end
'''
match_indent = true


# # Tera Stellar counts for Every Type

# Stellar type guarantees type_evo
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
if can_evolve(self, card, context, forced_key) and card.ability[type_req.."_sticker"] then
'''
position = "at"
payload = '''
if can_evolve(self, card, context, forced_key) and (card.ability["stellar_sticker"] or card.ability[type_req.."_sticker"]) then
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
elseif can_evolve(self, card, context, forced_key, true) and card.ability[type_req.."_sticker"] then
'''
position = "at"
payload = '''
elseif can_evolve(self, card, context, forced_key, true) and (card.ability["stellar_sticker"] or card.ability[type_req.."_sticker"]) then
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
pattern = '''
local eval = function(card) return card.ability[type_req.."_sticker"] and not card.REMOVED and not G.RESET_JIGGLES end
'''
position = "at"
payload = '''
local eval = function(card) return (card.ability["stellar_sticker"] or card.ability[type_req.."_sticker"]) and not card.REMOVED and not G.RESET_JIGGLES end
'''
match_indent = true